{% extends '::base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
      <legend>Selected Date</legend>
        <form action="">
        <input type="date" value="{{ $delectedDate|date("Y-m-d") }}">
        <button>Show</button>
        </form>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Mobile</th>
              <th scope="col">Kids</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{ order.deliveryPerson }}</td>
              <td>{{ order.deliveryPersonMobile }}</td>
              <td>

              <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Item</th>
                      <th scope="col">Notes</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for line in order.lines %}
                    <tr>
                      <th scope="row">{{ loop.index }}</th>
                      <td>{{ line.kidName }}</td>

                      <td>{% if line.item %} {{ line.item.name }} | {{ line.item.price }} {% else %} N/A {% endif %}</td>
                      <td>{{ line.notes }}</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
            </table>

              </td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>

    </div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
